@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  min-height: 100vh;
  background-image: url('/weather.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}